body {
    font-family: inherit;
    background: rgb(185, 223, 246);
    margin: 0;
    padding: 0;
    height: 100%;
    transition: 500ms all ease;
    letter-spacing: 1px;
  }
  
  input {
    background: rgb(228, 240, 246);
    border: none;
    display: flex;
    width: 250px;
    height: 25px;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    padding: 10px;
}

/* Header */
    .header{
        position: relative;
        text-align: center;
        padding-top: 50px;
        font-size: 15px;
    }

    .header span{
        justify-content: flex-end;
        display: block;
    }

/* End Header */


/* main */

.mainContent{
    background: white;
    border-radius: 20px;
    margin: 0px 20px 0px 20px;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainSection{
    margin: 0 25px 0 25px;
    padding: 25px 0 25px 0;
    display: flex;
}

.inputAmount{
    margin-top: 8px;
}


.btnContainer{
    display: flex;
    flex-wrap: wrap;
}

.btnContainer .btntip{
    width: 85px;
    height: 35px;
    background: rgb(41, 38, 246);
    font-size:  15px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;    

}

.btnContainer  #btnTip{
    background: rgb(228, 240, 246);
    color: black;
}

.inputPeopleBox{
    margin-top: 15px;
}

#numberOfPeople{
    margin-top: 8px;
}

.computedAmount{
    background: rgb(69, 54, 230);
    border-radius: .8rem;
    width: 650px;
    height: 300px;
    padding: 20px;
    color: white;
}


.computeBoxTitle span{
    justify-content: flex-end;
    display: block;
    font-size: 12px;
}

.computedBox{
    display: flex;
    justify-content: space-between;
}


.resetBtn{
    width: 350px;
    height: 40px;
    font-size: 20px;
    margin-top: 120px;
    border-radius: 5px;
    text-align: center;
}


/* End main */


@media (min-width: 320px) {
    .input-group--amount,
    .input-group--no-of-people  {
        width: 100%;
    }
}



@media (min-width: 1024px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .computedBox {
        margin: 25px 0 0;
    }

    .resetBtn {
        display: block;
        margin: 30px auto 0;
    }
}
